{% extends 'base.html' %}
{% block title %}Lista de Médicos{% endblock %}

{% block content %}
<h2>Médicos</h2>

<form method="get">
    <label>Filtrar por especialidade:</label>
    <select name="especialidade">
        <option value="">Todas</option>
        {% for especialidade in medicos.especialidade %}
            <option value="{{ especialidade.0 }}">{{ especialidade.0 }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filtrar</button>
</form>

<div>
    <div>
        <p><p>Nome</p><p>Especialidade</p><p>CRM</p></p>
    </div>
    <div>
        {% for medico in medicos %}
        <div>
            <p>{{ medico.nome }}</p>
            <p>{{ medico.especialidade }}</p>
            <p>{{ medico.crm }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}